#password {
    margin: 10px;
    text-align: center;
    width: 480px;
    padding:5px;
    font-family: 'Ubuntu', sans-serif;
}

#submit {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#error { color: red;}