#timer {
    width: 50%;
}

.number {
    display: inline-block;
    padding: 5px;
    border: black;
    border-style: ridge;
    border-width: 1px;
}

#submissions {
    width: 75%;
    height: 100%;
    /* padding: 4px; */
    margin:auto;
    /* display: inline; */
}

.submission {
    /* display: inline-block; */
    /* float: left; */
    border: white;
    border-style: ridge;
    border-width:1px;
    margin: 4px;
    min-height: 300px;
    width: 100%;
}

.content {
    height: 100%;
 }

.project {
    text-align: center;
    float: left;
    margin:0px;
    width: 50%;
}

.project > p {
    overflow: hidden;
    margin: 0px;
    padding:0px;
    width: 100%;
    height: fit-content;
}

.timestamp, .node {
    margin: 1px;
}

.leftSide, .rightSide{
    float:left;
    margin: 0px;
    width: 50%;
    height: 100%;
}

.description {
    height:100px;
    width: 80%;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.submit {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.formElement{
    margin: 4px;
}