body{
    background-color: #222222;
}

.guess{
    display: inline;
}


.letter{
    margin:5px;
    width: 20px;
    height:20px;
    padding:5px;
    display: inline-block;
    color: white;

    border-color: #555555;
    border-radius: 1px;
    border: 1px;
    border-style: solid;
}

.contains {
    border-color: #777777;
}

.wrong {
    background-color: #393939;
}

.almost {
    background-color: #cccc00;
}

.right {
    background-color: green;
}

